.stop-marker {
  width:10px;
  height:10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
  color:696969;
}

.bus-num {
  font-size:18px;
}

.map-cards {
  color: #FF9800;
}

.inputs {
  width: 48%;
  border:none;
  border-bottom: 5px solid lightgray;
}

#dest {
  border-left: 2px solid lightgray;
  padding-left: 15px;
}

